/* Contact form */
.contact-form {
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 50px; /* Adjust as needed for vertical positioning */
    left: 242x; /* Adjust as needed for horizontal positioning */
    margin: 0; /* Remove centering margin */
}

.contact-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

.contact-form p {
    margin-bottom: 20px;
    color: #cfcfcf;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #cfcfcf;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #575757;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #888888;
}
